easyocr==1.7.2
fastapi==0.115.6
fpdf==1.7.2
joblib==1.3.2
nltk==3.9.1
numpy==2.2.1
opencv_python==4.8.1.78
opencv_python_headless==4.9.0.80
pdf2image==1.17.0
Pillow==11.1.0
pydantic==2.10.4
PyPDF2==3.0.1
pytesseract==0.3.13
Requests==2.32.3
scikit_learn==1.6.0
uvicorn==0.34.0
pycriptodome==3.23.0